.bg-image{
   position: relative;
}
.bg-page {
    background-color: #B5B5B5;
}
.bg-alternate {
    background-color: #EFF8FF;
}
.mask{
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
}
.navbar-brand{
	font-size: 2em;
}
.nav-item{
    margin-right: 1em;
}
.navbar {
    margin: auto;
    background: #063B61;
}
.footer {
    background: #063B61;
}
.heading-text{
	font-size:6em;
}
hr{
	opacity:1;
}
.footer-hr{
	width:20em;
	margin: auto
}
html, body {
    overflow-x: hidden;
}
.socialIcon{
    min-width:60px;
    margin:10px;
}
.jumbotronvideo {
    object-fit:none;
    object-position: left;
    height: 50%;
    max-height: 500px;
    width:100%;
}
p {
    font-size: 1.25em;
}